<section id="title-cont">
  <div class="clearfix rope">
    <div class="rope">
      <img src="assets/img/rope.png" />
    </div>
  </div>
  <div class="title-cont">
    <p>Finnish </p>
  </div>
</section>
<section id="content" class="relative padbot-50">
  <div class="fluid900" >



    <div id="breadcumbs" class="clearfix marbot-30">

      <div class="grid_bread bread-cont step-active">
        <div class="text-center">
          <img class="imgact" src="assets/img/confirmation/step1act.png" />
          <img src="assets/img/confirmation/step1act.png" />
        </div>
      </div>

      <div class="grid_bread bread-cont ">
        <div class="text-center">
          <img class="imgact" src="assets/img/confirmation/step2act.png" />
          <img src="assets/img/confirmation/step2act.png" />
        </div>
      </div>

      <div class="grid_bread bread-cont ">
        <div class="text-center">
          <img class="imgact" src="assets/img/confirmation/step3act.png" />
          <img src="assets/img/confirmation/step3act.png" />
        </div>
      </div>

    </div>
    <div style="text-align:center;">
    <img src="assets/img/Delivery-413x420-traingingusaha.jpg"/>
    <br><br><br>
    <h1>terimakasih telah memesan</h1>
  </div>
    <!-- Silakan pilih menu -->
  </div>
</section>
